.idea
sources/token.pickle
sources/credentials.json
core/mysql_database_connection/config.json
core/mysql_database_connection/mysql_connector.py

#/Users/phamhanh/PycharmProjects/data_operation/core/mysql_database_connection/config.json